/** CSS STYLE **/

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 25.6px;
    font-family: 'Open Sans', sans-serif;
}
header img {
    filter: none;
}
img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}
a {
    text-decoration: none;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FE8A02;
    color: #fff;
    font-weight: bold;
    line-height: 160%;
    padding: 12px 24px;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    
}
h1 {
    font-family: 'Neucha', cursive;
    font-size: 72px;
    line-height: 86px; 
    max-width: 700px;
    margin-top: 100px;
    font-weight: 400;
}
h2 {
    font-family: 'Neucha', cursive;
    font-size: 60px;
    font-weight: normal;
    padding-bottom: -2px;
}
h3 {
    font-size: 34px;
    line-height: 30px;
    font-family: 'Neucha', cursive;
    font-weight: normal;
}
.yellow {
    color: #FE8A02;
}
header {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-bottom:  90px; 
    background: #f5f4f0;
    z-index: -2;


}
header:before,
.ikea-section:before,
.optimization-section:before,
.new-section::before,
.hiperbola-section:before,
.plan-section::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
.header-top {
    min-height: 470px;
    margin-bottom: -20px;
    margin-top: -3px;
}
.text-center h2,
.optimization-item h2,
.hiperbola-item h2 {
    line-height: 72px;
}
.image-wrap {
    position: absolute;
    top: 55px;
    right: -104px;
}
.image-wrap img {
    max-height: 525px;
    height: 100%;
}


.main-items {
    display: flex;
    margin: 12px -15px;
}
.main-item {
    width: calc(50% - 30px);
    margin: 0 15px;
    
}
.main-item p {
    margin: 0;
    margin-bottom: 16px;
}
.main .btn {
    margin-top: 25px;
}


.video-section {
    position: relative;
    height: 814px;
    padding: 100px 0 0 0;
}
.text-center {
   display: flex;
   align-content: center;
   flex-direction: column;
   text-align: center;
   margin-top: -53px;
}
.title-text-center  {
    max-width: 100%; 
    text-align: center;
    margin-top: -19px;
    
}
.text {
    text-align: justify;
}
.image-wrap-video {
    position: absolute;
    bottom: 12px;  
    left: 50%;
    transform: translateX(-50%);
    
}
.video {
   
}

.navigation-section {
    background: #42413C;
    padding: 200px 0 75px 0;
    margin-top: -100px;  
}
.navigation-section a {
    display: block;
    color:#2A2626;
}
.navigation-section a:hover {
    color: #FFFFFF;
    background-color: #FE8A02;
}
.navigation-section a:hover .yellow {
    color: #FFFFFF;
}

.navigation-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
       
}
.navigation-item {
    background: #F5F4F0;
    display: block;
    width: calc(33.33% - 30px);
    margin: 0 10px 17px 0;
         
}
.navigation-item-wrap {
    padding: 25px;
}
.grey {
    background: #42413C;
    color: #fff;
    padding: 0;
}


.title-h2 {
    font-size: 34px;
    line-height: 40px;
    font-family: 'Neucha', cursive;
}
.title-h1 {
    font-size: 50px;
    line-height: 62px;
    font-family: 'Neucha', cursive;
}
.title-h3 {
    font-size: 24px;
    line-height: 29px;
    color: #908D8B;
    font-weight: normal;
    font-family: 'Neucha', cursive;
    margin-bottom: -20px;
}
.title-h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.4px;
    background: #B09A81;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px;
    margin-bottom: 20px;
    margin-top: -9px;
  
}
.numb {
    font-size: 64px;
    line-height: 1;
    padding-bottom: 11px;
    font-family: 'Neucha', cursive;
}
.ikea-section {
   position: relative;
   padding: 100px 0;
   background: #f5f4f0;
    z-index: -2;
}
.ikea-container-items {
    display: flex;
    margin-bottom: 100px;
 }
 .ikea-container-item {
     width: 50%;
     margin: 0;   
    padding-right:53px ;
    }
.ikea-container-items-2,
.optimization-items-2,
.new-items-2 {
        display: flex;
}  
.ikea-container-item-2,
.optimization-item-2,
.new-item-2 {
    width: 50%;
    margin: 0;   
  }
 
 .optimization-section,
 .hiperbola-section  {
     position: relative;
     padding: 100px 0;
     color: #fff;
     background-color: #B09A81;
     z-index: -2;
    

 }
 .optimization-items {
     display: flex;
     margin-bottom: 100px;
 }
 .optimization-item {
     width: 50%;
    padding-right: 23px;
 }
 .optimization-items-2 {
    margin-bottom: -5px;
} 
 .optimization-section .title-h4 {
     background-color: #FFFFFF;
     color:#B09A81;
 }
 .optimization-section .title-h3 {
        color: #D7CCC0;
        margin-bottom: -55px;
 }
 .optimization-section .title-h2 {
       margin-top: -15px;
}

 .new-section {
    position: relative;
    padding: 100px 0;
    background: #f5f4f0;
    z-index: -2;
 }
 .new-items {
    display: flex;
    margin-bottom: 100px;
 }
 .new-item {
     width: 50%;
     margin-right: 20px;
     padding-right: 30px;
      
    }
.new-item .h2 {
     margin-top: 39px;
    margin-bottom: 60px;
   
}


.hiperbola-items {
    display: flex;
    margin-bottom: 100px;
}
.hiperbola-items-2 {
    display: flex;

}
.hiperbola-item-2 {
    margin-top: -12px;
    margin-left: -10px;
    margin-right: 12px;
    width: 50%;
    padding: 10px;
}

.hiperbola-item {
    margin-top: -5px;
    margin-left: -10px;
    margin-right: 12px;
    width: 50%;
    padding: 10px;
}
.hiperbola-section .title-h4 {
    background-color: #FFFFFF;
    color:#B09A81;
    margin-top: -16px;
}
.hiperbola-section .title-h3 {
       color: #D7CCC0;
       margin-bottom: -53px;
     
}
.hiperbola-section h2 {
    margin-bottom: 32px;
}


 .plan-section {
   position: relative;
   padding: 100px 0;
   background: #f5f4f0;
   z-index: 2;
 }
 .plan-items {
    display: flex;
    margin-bottom: 99px;
    margin-top: -1px;
    justify-content: center;
 }

 .plan-items .plan-item:first-child {
    margin-right: 30px;
    margin-left: 0px;
 }

 .plan-items-2 {
    display: flex;
 }

 .plan-item-2 {
    width: 50%;
    margin-left: -10px;
    margin-top: -12px;

 }
 .plan-item-2 {
    width: 50%;
    margin-left: 0;
    margin-top: 0;
 }

 .plan-item-2:first-child {
     padding-right: 28px;
 }

 .plan-item p,
 .plan-item-2 p {
    margin-top: 0;
 }

.plan-item h2 {
    margin-top: 39px;
    margin-bottom: 57px;
}
.footer {
    padding: 100px 0; 
    background-color: #FFFFFF;
}

 .footer-top {
     color: #FFFFFF;
     background-color: #42413C;
     display: flex;
     align-items: center;
     padding: 0 55px 25px 55px;
     margin-top: 5px;
}
.footer-top a {
    color: #FFFFFF;
}
.footer-top-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 25px;
}

.footer-top-item h3 {
    line-height: 36px;
}

.footer-top-item:last-child {
    margin-left: 10px;
}

.form-title {
    margin-left: 14px;
    margin-top: -7px;
    margin-bottom: 10px;
}
.form-input {
    padding: 15px;
    border: none;
    max-height: 50px;    
    min-width: 385px;
    margin-left: 15px;
}

form .btn {
    position: relative;
    border: none;
    max-height: 50px;
    width: 70px;
}
form .btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/send.svg);
    height: 20px;
    width: 20px;
    background-size: cover;
}
.rules {
    font-size: 12px;
    line-height: 19px;
    margin-top: 9px;
    margin-left: 15px;
}
.footer-bottom {
    text-align: center;
    margin-top: 77px;
    }

.footer-bottom a {
    color: #1085C5;
}

.form-group {
    display: flex;
    max-height: 50px;
}
.footer-bottom p {
    font-size: 14px;
}