/** CSS STYLE **/
body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25.6px;
}

img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

header img {
  filter: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;

  color: #fff;
  font-weight: bold;
  line-height: 160%;

  background-color: #fe8a02;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  max-width: 700px;
  margin-top: 100px;

  font-weight: 400;
  font-size: 72px;
  font-family: 'Neucha', cursive;

  line-height: 86px;
}

h2 {
  padding-bottom: -2px;

  font-weight: normal;
  font-size: 60px;
  font-family: 'Neucha', cursive;
}

h3 {
  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 30px;
}

.yellow {
  color: #fe8a02;
}

header {
  position: relative;

  z-index: -2;

  height: 100%;
  padding-bottom: 90px;
  overflow: hidden;

  background: #f5f4f0;
}

header::before,
.ikea-section::before,
.optimization-section::before,
.new-section::before,
.hiperbola-section::before,
.plan-section::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-image: url(../images/background.png);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.header-top {
  min-height: 470px;
  margin-top: -3px;
  margin-bottom: -20px;
}

.text-center h2,
.optimization-item h2,
.hiperbola-item h2 {
  line-height: 72px;
}

.image-wrap {
  position: absolute;
  top: 55px;
  right: -104px;
}

.image-wrap img {
  max-height: 525px;
  height: 100%;
}

.main-items {
  display: flex;
  margin: 12px -15px;
}

.main-item {
  width: calc(50% - 30px);
  margin: 0 15px;
}

.main-item p {
  margin: 0;
  margin-bottom: 16px;
}

.main .btn {
  margin-top: 25px;
}

.video-section {
  position: relative;
  height: 814px;
  padding: 100px 0 0 0;
}

.text-center {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -55px;
}

.title-text-center {
  max-width: 100%;
  text-align: center;
  margin-top: -17px;
}

.text {
  text-align: justify;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  position: absolute;
  bottom: 15px;
  left: 261px;
}

.navigation-section {
  background: #42413c;
  padding: 200px 0 80px 0;
  margin-top: -111px;
}

.navigation-section a {
  display: block;
  color: #2a2626;
}

.footer-bottom a {
    color: #1085c5;
}

.navigation-section a:hover {
  color: #ffffff;
  background-color: #fe8a02;
}

.navigation-section a:hover .yellow {
  color: #ffffff;
}

.navigation-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-item {
  background: #f5f4f0;
  display: block;
  width: calc(33.33% - 30px);
  margin: 0 10px 17px 0;
}

.navigation-item-wrap {
  padding: 25px;
}

.grey {
  background: #42413c;
  color: #fff;
  padding: 0;
}

.title-h2 {
  font-size: 34px;
  line-height: 40px;
  font-family: 'Neucha', cursive;
}

.title-h1 {
  font-size: 50px;
  line-height: 62px;
  font-family: 'Neucha', cursive;
  letter-spacing: 0.3px;
}

.title-h3 {
  font-size: 24px;
  line-height: 29px;
  color: #908d8b;
  font-weight: normal;
  font-family: 'Neucha', cursive;
  margin-bottom: -20px;
}

.title-h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.4px;
  background: #B09A81;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px;
  margin-bottom: 20px;
  margin-top: -9px;
}

.numb {
  font-size: 64px;
  line-height: 1;
  padding-bottom: 11px;
  font-family: 'Neucha', cursive;
}

.ikea-section {
  position: relative;
  padding: 100px 0;
  background: #f5f4f0;
  z-index: -2;
}

.ikea-container-items {
  display: flex;
  margin-bottom: 100px;
}

.ikea-container-item {
  width: 50%;
  margin: 0;
  padding-right: 53px;
}

.ikea-container-items-2, .optimization-items-2, .new-items-2 {
  display: flex;
}

.ikea-container-item-2, .optimization-item-2, .new-item-2 {
  width: 50%;
  margin: 0;
}

.optimization-section,
.hiperbola-section {
  position: relative;
  padding: 100px 0;
  color: #fff;
  background-color: #b09a81;
  z-index: -2;
}

.optimization-items {
  display: flex;
  margin-bottom: 100px;
}

.optimization-item {
  width: 50%;
  padding-right: 23px;
}

.optimization-items-2 {
  margin-bottom: -5px;
}

.optimization-section .title-h4 {
  background-color: #ffffff;
  color: #B09A81;
}

.optimization-section .title-h3 {
  color: #d7ccc0;
  margin-bottom: -55px;
}

.optimization-section .title-h2 {
  margin-top: -15px;
}

.new-section {
  position: relative;
  padding: 100px 0;
  background: #f5f4f0;
  z-index: -2;
}

.new-items {
  display: flex;
  margin-bottom: 100px;
}

.new-item {
  width: 50%;
  margin-right: 20px;
  padding-right: 30px;
}

.new-item .h2 {
  margin-top: 39px;
  margin-bottom: 60px;
}

.hiperbola-items {
  display: flex;
  margin-bottom: 100px;
}

.hiperbola-items-2 {
  display: flex;
}

.hiperbola-item-2 {
  margin-top: -12px;
  margin-left: -10px;
  margin-right: 12px;
  width: 50%;
  padding: 10px;
}

.hiperbola-item {
  margin-top: -5px;
  margin-left: -10px;
  margin-right: 12px;
  width: 50%;
  padding: 10px;
}

.hiperbola-section .title-h4 {
  background-color: #ffffff;
  color: #b09a81;
  margin-top: -16px;
}

.hiperbola-section .title-h3 {
  color: #d7ccc0;
  margin-bottom: -53px;
}

.hiperbola-section h2 {
  margin-bottom: 32px;
}

.plan-section {
  position: relative;
  padding: 100px 0;
  background: #f5f4f0;
  z-index: 2;
}

.plan-items {
  display: flex;
  margin-bottom: 99px;
  margin-top: -1px;
  justify-content: center;
}

.plan-items .plan-item:first-child {
  margin-right: 30px;
  margin-left: 0px;
}

.plan-items-2 {
  display: flex;
}

.plan-item-2 {
  width: 50%;
  margin-left: -10px;
  margin-top: -12px;
}

.plan-item-2 {
  width: 50%;
  margin-left: 0;
  margin-top: 0;
}

.plan-item-2:first-child {
  padding-right: 28px;
}

.plan-item p, .plan-item-2 p {
  margin-top: 0;
}

.plan-item h2 {
  margin-top: 39px;
  margin-bottom: 57px;
}

.footer {
  padding: 100px 0;
  background-color: #FFFFFF;
}

.footer-top {
  color: #FFFFFF;
  background-color: #42413c;
  display: flex;
  align-items: center;
  padding: 0 55px 25px 55px;
  margin-top: 5px;
}

.footer-top a {
  color: #ffffff;
}

.footer-top-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 25px;
}

.footer-top-item h3 {
  line-height: 36px;
}

.footer-top-item:last-child {
  margin-left: 10px;
}

.form-title {
  margin-left: 14px;
  margin-top: -7px;
  margin-bottom: 10px;
}

.form-input {
  padding: 15px;
  border: none;
  max-height: 50px;
  min-width: 385px;
  margin-left: 15px;
}

form .btn {
  position: relative;
  border: none;
  max-height: 50px;
  width: 70px;
}

form .btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/send.svg);
  height: 20px;
  width: 20px;
  background-size: cover;
}

.rules {
  font-size: 12px;
  line-height: 19px;
  margin-top: 9px;
  margin-left: 15px;
}

.footer-bottom {
  text-align: center;
  margin-top: 77px;
}

.form-group {
  display: flex;
  max-height: 50px;
}

.footer-bottom p {
  font-size: 14px;
}